* {
    padding: 0;
    margin: 0;
    font-family: Tahoma, sans-serif;
}

header {
    height: 50px;

    img {
        width: 40px;
        margin: 5px;
    }

    .wrapLogin {
        display: inline-block;
    }
}